.card{
  width: 25%;
}
.imageContainer{
  overflow: hidden;
}
.cardImage{
  width: 100%;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.imageContainer:hover .cardImage{
  transform: scale(1.08);
}
.cardImage:hover{
  transform: scale(1.05);
}
.productName{
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
}
.price{
  margin-top: 8px;
  font-size: 14px;  
}
.oldPrice{
  font-size: 12px;
  text-decoration: line-through;
}
.discount{
  color: green;
}
.reviews{
  margin-top: 8px;
  color: gold;
}
.rating{
  color: rgb(163, 163, 163);
}
.button{
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 10px;
  background-color: white;
  cursor: pointer;
}
.button:hover{
  transform: scale(1.05);
  transition: 0.3s;
  background-color: black;
  color: white;
}