.marqueWrapper{
  width: 100%;
  overflow: hidden;
  background:  #000;
  padding: 10px 0;
}
.marquee{
  display: flex;
  align-items: center;
  justify-content: center;
}
.marquee span{
  color: white;
  font-size: 15px;
}