.formContainer{
  height: 600px;
  width: 650px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -100px;
  box-sizing: border-box;
}
.formContainer h2{
  margin-bottom: 15px;
  margin-top: 30px;
}
.form input{
  width: 100%;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid grey;
}
.form button{
  width: 100%;
  padding: 10px;
  background-color: rgb(107, 107, 240);
  color: white;
  border: none;
  cursor: pointer;
  margin: 15px 0;
  border-radius: 50px;
}
.form button:hover{
  transform: scale(1.05);
  transition: 0.3s;
  box-shadow: 0 0 5px grey;
}
.noAccount a{
  text-decoration: none;
  color: rgb(107, 107, 240);
}
.noAccount a{
  cursor: pointer;
}
.closeBtn {
  position: absolute;
  top: -70px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}