*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.cardsection{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin-left: 70px;
  margin-top: 100px;
}